header.header
  .wrap
    a.header__title.cc-active.active-link(href='{{ site.baseurl }}/')
      | Letterform Design
    .menu
      .menu__toggle.js-menu-toggle
        .menu__toggle__icon
          span
      .menu__wrap
        ul.menu__list
          li.menu__list__item
            a.menu__list__item__link.cc-active.active-link(href='{{ site.baseurl }}/') Gallery
          li.menu__list__item
            a.menu__list__item__link(href='{{ site.baseurl }}/about') About
