section.listing
  .content-wrap.listing-wrap
    .grid-sizer
    | {% for project in projects %}
    | {% if project.url != page.url %}
    .listing-item
      a.listing-item__link(href="{{ site.baseurl }}{{ project.url }}")
        .listing-item__image
          img(src="{{ site.baseurl }}{{ project.teaser }}")
        .listing-item__content.listing-item__content--bottom
          .listing-item__info
            h2.listing-item__title
              | {{ project.title }}
    | {% endif %}
    | {% endfor %}