doctype
html
    | {% include head %}
    body.ajax-loading
      | {% include header %}
      .page
        .page__content
          section.intro
            .wrap
              p
              | {{ content | markdownify }}
