doctype
html
    | {% include head %}
    body.ajax-loading
      | {% include header %}
      .page
        .page__content
          section.intro
            .wrap
              h1
              | {{ page.title }}
              | {% if page.teaser  %}
              img(src="{{ site.baseurl }}{{ page.teaser }}")
              | {% endif %}
              p
              | {{ content | markdownify }}
