doctype
html
    | {% include head %}
    body.ajax-loading
      | {% include header %}
      .page
        .page__content
          | {% if page.class %}
          | {% assign projects = site.projects | where:'class', page.class %}
          | {% else %}
          | {% assign projects = site.projects %}
          | {% endif %}

          | {% include project_grid %}